.glavni{
  display: flex;
}

.leva-strana{
  width: 450px;
  border: 1px solid #ced4da;
  height: 100vh;
}

.sredina{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.sredina h2 p{
  text-align: left;
}

.desna-strana{
  width: 400px;
  background-color:aliceblue;
}
.desna-strana h3{
  border-bottom: 1px solid lightgray;
  width: 80%;
  margin-left: 20px;
  padding-bottom: 20px;
  padding-top: 50px;
}
.desna-strana h4{
  border-bottom: 1px solid lightgray;
  width: 80%;
  margin-left: 20px;
  padding-bottom: 20px;
}
.desna-strana h5{
  border-bottom: 1px solid lightgray;
  width: 80%;
  margin-left: 20px;
  padding-bottom: 20px;
}
.desna-strana p{
  width: 80%;
  margin-left: 20px;
  padding-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 15px;
}

.logo {
  height: 30px;
}

.heading {
  font-size: 24px;
  margin-left: 10px;
}

.user-container{
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da;
  border-right: none;
}
.user-container p{
  text-decoration: underline;
}
.profile-picture{
  height: 70px;
  border-radius: 50%;
}

.lists-div{
  display: flex;
  background-color: violet;
  border-radius: 10px;
  align-items: center;
  margin: 20px 30px 20px 30px;
  color: white;
}
.lists-div p{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.lists-div svg{
  margin-left: 20px;
}
.lists ul{
  margin: 20px 30px 20px 30px;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  border-bottom-style: dashed;
  
}
.lists li{
  margin: 20px 30px 20px 30px;
  text-decoration: underline;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.create-new{
  display: flex;
  margin: 20px 30px 20px 30px;
  align-items: center
}
.create-new p{
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}
.create-new p svg {
  margin: 20px 30px 20px 30px;;
}

.task-manager{
  background-color: rgb(0, 80, 53);
  margin: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 20px;
  align-items: center;
  color: #fff;
  padding-bottom: 100px;
  margin-top: 100px;
}
.change-day{
  text-decoration: underline;
  cursor: pointer;
}
.gornji-deo{
  display:flex;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  justify-content: space-between;
}

.previous-day{
  margin-left: 10px;
}
.next-day{
  margin-right: 10px;
}

.ostatak{
  margin-top: 30px;
}
.add-task{
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 200px 5px 0px;
}
.add-task h5, svg{
  margin-left: 20px;
}
.add-task input{
  background-color: transparent;
  border: 0;
  margin-left: 20px;
  color: white;
  width: 90%;
}

.add-task input::placeholder{
  color: white;
}

.tasks-info{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.tasks-info ul li{
  list-style: none;
  display: flex;
  align-items: center;
}
.one-task{
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  font-size: x-large;
}

.cover{
  position: fixed;
  height: 100vh;
  width: 100vh;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.add-task-manager{
  border-radius: 20px;
  border: 1px solid;
}

.create-list{
  position: fixed;
  border-radius: 20px;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #777;
}
.create-list-top{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  background-color: violet;
  border-radius: 20px;
}

.create-list-main{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.type-name{
  border: 1px solid;
  display: flex;
  border-radius: 20px;
  align-items: center;
  width: 100%;
}
.type-name p{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.type-name svg{
  margin-left: 20px;
}

/* .add-task-manager{
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 200px 5px 0px;
}
.add-task-manager h5, svg{
  margin-left: 20px;
}
.add-task-manager input{
  background-color: transparent;
  border: 0;
  margin-left: 20px;
  color: white;
  width: 90%;
}

.add-task-manager input::placeholder{
  color: white;
} */
